.loader-parent{
    position: absolute;
    inset: 0;
    background-color: rgba(31, 31,31, 0.685) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    height: 80px;
    width: 80px;
}
.page-title h2{
    font-size: 25px !important;
    text-transform: uppercase;
}